
body {
	background-color: #0F0F0F;
	color: white;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 0.9em;
	margin: auto;
	max-width: 1000px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	text-decoration: none;
}

.desc input {
	padding: 1px 3px;
}

.ns {
	padding: 0;
	margin: 0;
}

div.nospace p {
	margin: 0;
}

div.half_half p {
	display: inline-block;
	width: 49%;
	margin: 0 0.2em;
}

div.nospace p {
	margin: 0;
}


textarea.code {
	width: 48%;
	height: 200px;
}

textarea.code.short {
	height: 50px;
}

textarea, input[type=text], input[type=password] {
	background-color: #0f0f0f;
	border: 2px solid #aaa;
	color: white;
}
